body {
    margin: 0px;
    font-family: "Reddit Sans", sans-serif;
    background: #FEFAE0;
}

ul {
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

h1, h2, h3, h3, p, ul{
    margin: 0;
}

img[src$=".png"] {
    border-radius: 4px;
}

blockquote {
    margin: 0;
}
