.advantages-bg {
    background-color: #A4AC86;
    box-shadow: inset 0 80px #344E41, inset 0 -80px #FEFAE0;
}

.advantages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto; }

.advantages-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.advantages-content {
    padding-top: 160px;
    padding-bottom: 160px;
}

.mini-title {
    font: 400 1.5rem/1.5 "Reddit Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #656D4A;
    display: block;
  margin-bottom: 20px;
}

.advantages-content h2 {
    color: #344E41;
    font: 600 4rem/1.125 "Poppins", sans-serif;
    margin-bottom: 32px;
}
.advantages-content h2 span {
    color: #BC6C25;
}

.advantages-content .content {
    font: 400 1.5rem/1.5 "Reddit Sans", sans-serif;
    color: #616a48;
    margin-bottom: 20px;
}

.advantages-content h3 {
    font: 400 1.125rem/1.35 "Reddit Sans", sans-serif;
    color: #344E41;
    font-weight: 600;
    margin-bottom: 8px;
  width: max-content;
}

p {
    font: 400 1rem/1.5 "Reddit Sans", sans-serif;
    color: #414833;
    margin-bottom: 20px;
}

.advantages a {
    margin-bottom: 80px;
}

.advantages-topics {
    display: flex;
    gap: 40px;
}

.advantages-topics h3 {
    margin-bottom: 8px;
    width: max-content;
}

.advantages-topics img {
    width: 24px;
    margin-bottom: 8px;
}

@media (max-width: 600px) {
    .advantages-bg {
        box-shadow: initial;
    }
    .advantages {
        grid-template-columns: 1fr;
    }

    .advantages-content {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .advantages a {
        margin-bottom: 60px;
    }

    .advantages-content h2 {
        font-size: 2rem;
        margin-bottom: 16px;
        margin-right: auto;
    }

    .advantages .content {
        font-size: 1rem;
    }

    .advantages-img img {
        display: none;
    }

    .advantages-topics {
        flex-direction: column;
    }
}